<div class="choice-container">
  <app-gamer-choice class="choice"
                    [svgURL]="'../assets/rock.svg'"
                    (click)="onClick(0, 'p1')"
  ></app-gamer-choice>

  <app-gamer-choice class="choice"
                    [svgURL]="'../assets/paper.svg'"
                    (click)="onClick(1, 'p1')"
  ></app-gamer-choice>

  <app-gamer-choice class="choice"
                    [svgURL]="'../assets/scissors.svg'"
                    (click)="onClick(2, 'p1')"
  ></app-gamer-choice>
</div>

<div>
<p>{{player1.playerName}}: {{choices[player1Choice]}}</p>
<!-- if both players choose, say "player wins" -->
<p>{{player2.playerName}}: {{choices[player2Choice]}}</p>
<p *ngIf="tieCheck()">It's a tie! Choose again</p>
<p *ngIf="winCheck()">somebody won</p>
</div>

<div class="choice-container">
  <app-gamer-choice class="choice"
                    [svgURL]="'../assets/rock.svg'"
                    (click)="onClick(0, 'p2')"
  ></app-gamer-choice>

  <app-gamer-choice class="choice"
                    [svgURL]="'../assets/paper.svg'"
                    (click)="onClick(1, 'p2')"
  ></app-gamer-choice>

  <app-gamer-choice class="choice"
                    [svgURL]="'../assets/scissors.svg'"
                    (click)="onClick(2, 'p2')"
  ></app-gamer-choice>
</div>
