.choice-container {
    display: flex;
    margin-top: 100px;
    overflow: hidden;
    white-space: nowrap;

}

.choice {
    flex-direction:column;
    width: 100px;
    align-items: flex-end!important;
    margin: auto 50px;
}
